<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edu.uestc.ostec.workload.dao.CategoryDao" >
  <resultMap id="categoryResultMap" type="cn.edu.uestc.ostec.workload.pojo.Category" >
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="desc" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="is_leaf" property="isLeaf" jdbcType="VARCHAR" />
    <result column="import_required" property="importRequired" jdbcType="VARCHAR" />
    <result column="json_parameters" property="jsonParameters" jdbcType="VARCHAR" />
    <result column="formula" property="formula" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="review_deadline" property="reviewDeadline" jdbcType="TIMESTAMP" />
    <result column="apply_deadline" property="applyDeadline" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    category_id, name, description, parent_id, is_leaf, import_required, json_parameters, formula, version,
    status, review_deadline, apply_deadline
  </sql>

  <delete id="delete">
    delete from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>

  <insert id="insert">
    insert into category (category_id,name,description,parent_id,is_leaf,import_required,json_parameters,formula,version,status,review_deadline,apply_deadline)
    values (#{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR},
      #{parentId,jdbcType=INTEGER}, #{isLeaf,jdbcType=VARCHAR}, #{importRequired,jdbcType=VARCHAR}, #{jsonParameters,jdbcType=VARCHAR},
      #{formula,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{reviewDeadline,jdbcType=TIMESTAMP}, #{applyDeadline,jdbcType=TIMESTAMP})
  </insert>

  <update id="update">
    update category
    set name = #{name,jdbcType=VARCHAR},
      description = #{desc,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      is_leaf = #{isLeaf,jdbcType=VARCHAR},
      import_required = #{importRequired,jdbcType=VARCHAR},
      json_parameters = #{jsonParameters,jdbcType=VARCHAR},
      formula = #{formula,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      review_deadline = #{reviewDeadline,jdbcType=TIMESTAMP},
      apply_deadline = #{applyDeadline,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>

  <update id="updateStatus">
    update category
    set status = #{status,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>

  <select id="select" resultMap="categoryResultMap">
    select * from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="categoryResultMap">
  	select * from category
  </select>

  <select id="selectChildren" resultMap="categoryResultMap">
    select <include refid="Base_Column_List" /> 
    from category  
    where status != #{status,jdbcType=VARCHAR} and parent_id = #{parentId,jdbcType=INTEGER}
  </select>

  <select id="selectDisable" resultMap="categoryResultMap">
    select <include refid="Base_Column_List" /> 
    from category  
    where status = #{status,jdbcType=VARCHAR}
  </select>

  <select id="selectByImportRequired" resultMap="categoryResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where import_required = #{importRequired,jdbcType=VARCHAR}
  </select>

</mapper>