<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edu.uestc.ostec.workload.dao.CategoryDao" >
  <resultMap id="categoryResultMap" type="cn.edu.uestc.ostec.workload.pojo.Category" >
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="desc" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="is_leaf" property="isLeaf" jdbcType="VARCHAR" />
    <result column="import_required" property="importRequired" jdbcType="INTEGER" />
    <result column="json_parameters" property="jsonParameters" jdbcType="VARCHAR" />
    <result column="formula" property="formula" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="review_deadline" property="reviewDeadline" jdbcType="INTEGER" />
    <result column="apply_deadline" property="applyDeadline" jdbcType="INTEGER" />
    <result column="reviewer_id" property="reviewerId" jdbcType="INTEGER"/>
    <result column="other_json" property="otherJson" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List" >
    category_id, name, description, parent_id, is_leaf, import_required, json_parameters, formula, version,
    status, review_deadline, apply_deadline,reviewer_id,other_json
  </sql>

  <select id="select" resultMap="categoryResultMap">
    SELECT * FROM category
    <where>
      1 = 1
      <if test="null != categoryId">
        AND category_id = #{categoryId}
      </if>
      <if test="null != reviewerId">
        AND reviewer_id = #{reviewerId}
      </if>
      <if test="null != parentId">
        AND parent_id = #{parentId}
      </if>
      <if test="null != importedRequired">
        AND import_required = #{importedRequired}
      </if>
      <if test="null != status">
        AND status = #{status}
      </if>
      <if test="null != version">
        AND version = #{version}
      </if>
    </where>
  </select>

  <delete id="delete">
    delete from category
    where category_id = #{categoryId,jdbcType=INTEGER} and version = #{version}
  </delete>

  <insert id="insert">
    insert into category (category_id,name,reviewer_id,description,parent_id,is_leaf,import_required,json_parameters,formula,version,status,review_deadline,apply_deadline,other_json)
    values (#{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{reviewerId}, #{desc,jdbcType=VARCHAR},
      #{parentId,jdbcType=INTEGER}, #{isLeaf,jdbcType=VARCHAR}, #{importRequired,jdbcType=INTEGER}, #{jsonParameters,jdbcType=VARCHAR},
      #{formula,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{reviewDeadline,jdbcType=INTEGER}, #{applyDeadline,jdbcType=INTEGER},#{otherJson,jdbcType=VARCHAR})
  </insert>

  <update id="update">
    update category
    set name = #{name,jdbcType=VARCHAR},
      reviewer_id = #{reviewerId,jdbcType=INTEGER},
      description = #{desc,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      is_leaf = #{isLeaf,jdbcType=VARCHAR},
      import_required = #{importRequired,jdbcType=INTEGER},
      json_parameters = #{jsonParameters,jdbcType=VARCHAR},
      formula = #{formula,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      review_deadline = #{reviewDeadline,jdbcType=INTEGER},
      apply_deadline = #{applyDeadline,jdbcType=INTEGER},
      other_json = #{otherJson,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=INTEGER} and version = #{version,jdbcType=VARCHAR}
  </update>

  <update id="updateStatus">
    update category
    set status = #{status,jdbcType=INTEGER}
    where category_id = #{categoryId,jdbcType=INTEGER} AND version = #{version}
  </update>

  <!--<select id="select" resultMap="categoryResultMap">-->
    <!--select * from category-->
    <!--where category_id = #{categoryId,jdbcType=INTEGER}-->
  <!--</select>-->

  <select id="selectAll" resultMap="categoryResultMap">
  	select * from category where status != -1 and version = #{version}
  </select>

  <select id="selectRoot" resultMap="categoryResultMap">
    SELECT * FROM category WHERE is_leaf = 'N' and version = #{version}
  </select>

  <select id="selectChildren" resultMap="categoryResultMap">
    select <include refid="Base_Column_List" /> 
    from category  
    where status = #{status} and parent_id = #{parentId,jdbcType=INTEGER} and version = #{version}
  </select>

  <select id="selectValidChildren" resultMap="categoryResultMap">
    select <include refid="Base_Column_List" />
    from category
    where status != -1 and parent_id = #{parentId,jdbcType=INTEGER}
    and version = #{version,jdbcType=VARCHAR}
  </select>

  <select id="selectByStatus" resultMap="categoryResultMap">
    select <include refid="Base_Column_List" /> 
    from category  
    where status = #{status,jdbcType=INTEGER} and version = #{version}
  </select>

  <select id="selectByImportRequired" resultMap="categoryResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where import_required = #{importRequired,jdbcType=INTEGER}
          and status = 1 and version = #{version}
  </select>

  <select id="selectByReviewer" resultMap="categoryResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM category
    WHERE reviewer_id = #{reviewerId,jdbcType=INTEGER}
          and status = 1 and version = #{version}
  </select>

  <select id="selectYears" resultType="String">
    SELECT DISTINCT(version) FROM category WHERE status != -1
  </select>

</mapper>