<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * Project: workload（工作量计算系统）
  ~  * File: RegionManagerController.java
  ~  * Author: 张健顺
  ~  * Email: 1224522500@qq.com
  ~  * Copyright: Copyright (c) 2017 OSTEC. All rights reserved.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.uestc.ostec.workload.dao.HistoryDao">
    <resultMap id="historyResultMap" type="cn.edu.uestc.ostec.workload.pojo.History">
        <id column="history_id" jdbcType="INTEGER" property="historyId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="operation" jdbcType="LONGVARCHAR" property="operation"/>
        <result column="item_id" jdbcType="VARCHAR" property="itemId"/>
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="aim_user_id" jdbcType="INTEGER" property="aimUserId"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
    </resultMap>

    <select id="selectHistories" resultMap="historyResultMap">
        SELECT * FROM history
        <where>
            1 = 1 AND version = #{version}
            <if test="null != historyId">
                AND history_id = #{historyId}
            </if>
            <if test="null != userId">
                AND user_id = #{userId}
            </if>
            <if test="null != itemId">
                AND item_id = #{itemId}
            </if>
            <if test="null != type">
                AND type = #{type}
            </if>
            ORDER BY create_time DESC
        </where>
    </select>

    <select id="selectByUserRelated" resultMap="historyResultMap">
        SELECT * FROM history
        <where>
            1 = 1 AND version = #{version}
            AND (user_id = #{userId} OR aim_user_id = #{userId}) OR aim_user_id = 0000000
            <if test="null != type">
                AND type = #{type}
            </if>
            ORDER BY create_time DESC
        </where>

    </select>

    <insert id="insert">
    INSERT INTO history(history_id,user_id,create_time,operation,item_id,type,aim_user_id,version)
    VALUES(#{historyId},#{userId},#{createTime},#{operation},#{itemId},#{type},#{aimUserId},#{version})
  </insert>

    <update id="update">
    UPDATE history
    SET user_id =#{userId},create_time=#{createTime},operation=#{operation},item_id = #{itemId},type=#{type},aim_user_id=#{aimUserId}
    WHERE history_id = #{historyId} and version = #{version}
  </update>

    <delete id="delete">
    DELETE FROM history WHERE history_id =#{historyId} and version = #{version}
  </delete>

    <select id="selectAllCategoryHistory" resultMap="historyResultMap">
        SELECT * FROM history WHERE (user_id = #{userId} OR aim_user_id = #{userId} OR aim_user_id = 0000000) AND version = #{version}
        AND item_id LIKE 'C%' ORDER BY create_time DESC
    </select>

</mapper>