<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.uestc.ostec.workload.dao.ItemDao" >
  <resultMap id="itemResultMap" type="cn.edu.uestc.ostec.workload.pojo.Item" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="json_parameter" property="jsonParameter" jdbcType="VARCHAR" />
    <result column="workload" property="workload" jdbcType="INTEGER" />
    <result column="group_manager_id" property="groupManagerId" jdbcType="INTEGER" />
    <result column="apply_desc" property="applyDesc" jdbcType="VARCHAR" />
    <result column="job_desc" property="jobDesc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="json_child_weight" property="jsonChildWeight" jdbcType="VARCHAR" />
    <result column="proof" property="proof" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    item_id, item_name, category_id, owner_id, json_parameter, workload, group_manager_id, apply_desc,
    job_desc, status, json_child_weight,proof
  </sql>

  <select id="select" resultMap="itemResultMap">
    select 
    <include refid="Base_Column_List" />
    from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>

  <delete id="delete">
    delete from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>

  <insert id="insert">
    insert into item (<include refid="Base_Column_List" />)
    values (#{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER},
      #{jsonParameter,jdbcType=VARCHAR}, #{workload,jdbcType=INTEGER}, #{groupManagerId,jdbcType=INTEGER}, 
      #{applyDesc,jdbcType=VARCHAR}, #{jobDesc,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{jsonChildWeight,jdbcType=VARCHAR}, #{proof,jdbcType=LONGVARCHAR})
  </insert>

  <update id="update">
    update item
    set item_name = #{itemName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      owner_id = #{ownerId,jdbcType=INTEGER},
      json_parameter = #{jsonParameter,jdbcType=VARCHAR},
      workload = #{workload,jdbcType=INTEGER},
      group_manager_id = #{groupManagerId,jdbcType=INTEGER},
      apply_desc = #{applyDesc,jdbcType=VARCHAR},
      job_desc = #{jobDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      json_child_weight = #{jsonChildWeight,jdbcType=VARCHAR},
      proof = #{proof,jdbcType=LONGVARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>

  <select id="selectItemsByStatus" resultMap="itemResultMap">
    select
    <include refid="Base_Column_List" />
    from item
    where status = #{status,jdbcType=INTEGER} and owner_id = #{ownerId,jdbcType=INTEGER}
  </select>

  <update id="updateStatus">
    update item
    set status = #{status,jdbcType=INTEGER}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>

  <select id="selectItemsByCategory" resultMap="itemResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM item
    WHERE category_id = #{categoryId} AND status = #{status}
  </select>
</mapper>