<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.uestc.ostec.workload.dao.SubjectDao" >
  <resultMap id="subjectResultMap" type="cn.edu.uestc.ostec.workload.pojo.Subject" >
    <result column="subject_id" property="subjectId" jdbcType="INTEGER"/>
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="msg_content" property="msgContent" jdbcType="VARCHAR" />
    <result column="send_from_id" property="sendFromId" jdbcType="INTEGER" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert">
    insert into subject (subject_id,item_id, msg_content, send_from_id,
      send_time)
    values (#{subjectId,jdbcType=INTEGER},#{itemId,jdbcType=INTEGER}, #{msgContent,jdbcType=VARCHAR}, #{sendFromId,jdbcType=INTEGER},
      #{sendTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="selectByItem" resultMap="subjectResultMap">
    select * from subject where item_id = #{itemId,jdbcType=INTEGER}
  </select>

  <select id="select" resultMap="subjectResultMap">
    select * from subject where subject_id = #{subjectId,jdbcType=INTEGER}
  </select>

</mapper>