<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd  
        http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-4.1.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"> 
   	
    <!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器，用了@service进行业务逻辑处理 -->  
    <context:component-scan base-package="cn.edu.uestc.ostec.workload.controller" />

    <!-- 配置映射器与适配器，开启注解 -->  
   	<mvc:annotation-driven/>

    <!-- 处理静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 使用cglib动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
     
    <!-- 定义跳转的文件的前后缀 ，视图模式配置-->  
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀和后缀 -->
        <property name="prefix" value="/WEB-INF/result/" />
        <property name="suffix" value=".jsp" />  
    </bean>  
      
    <!-- 配置文件上传 -->  
    <bean id="multipartResolver"    
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">    
        <!-- 默认编码 -->  
        <property name="defaultEncoding" value="utf-8" />    
        <!-- 文件大小最大值 -->  
        <property name="maxUploadSize" value="10485760000" />    
        <!-- 内存中的最大值 -->  
        <property name="maxInMemorySize" value="40960" />    
    </bean>

    <!--使用声明式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <mvc:interceptors>
        <bean class="cn.edu.uestc.ostec.workload.core.ApplicationInterceptor"/>
    </mvc:interceptors>
  
</beans>